.auth-page{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 80vh;
    background-color: #EDEDCE;

    .auth-form{
        background-color: #629FAD;
        padding: 30px;
        border-radius: 13px;
        box-shadow: 0px 2px 4px rgb(32, 87, 118);
        text-align: center;
        width: 300px;

        h2{
            font-size: 25px;
            color: #0C2C55;
            margin-bottom: 15px;
        }

        form{
            text-align: left;

            label{
                display: block;
                margin-bottom: 10px;
                font-size: 15px;
                color: #121516;
            }

            input{
                width:92%;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid black;
                border-radius: 5px;

            }

        
        }
    
    }
}
.auth-form form button.common-btn {
  width: 100%;
  padding: 10px;
  background-color: #0C2C55;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-form form button.common-btn:hover {
  background-color: #09406d;
}

.auth-form p {
  text-align: center;
  margin-top: 10px;
}

.auth-form p a {
  color: #0C2C55;
  font-weight: bold;
  text-decoration: none;
}

.auth-form p a:hover {
  text-decoration: underline;
}