body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.common-btn{
  background-color: #0C2C55;
  color: aliceblue;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color .3s ease;
  margin-top: 10px;

  &:hover{
    background-color: #0b1f3a;
  }
  @media (max-width:768px ) {
    font-size: 16px;
  }
}