header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(135deg, #0C2C55, #081d39);
    color: azure;
    box-shadow: 0px 2px 4px r#0C2C55;

    .logo{
        font-size: 30px;
        font-weight: 500;
        color: rgb(0, 225, 255);

        @media(max-width:768px) {
            font-size: 18px;
        }
    }

    .link{
        display: flex;
        gap: 2rem;

        @media(max-width:768px) {
            gap: 0.5rem;
        }

        a{
            text-decoration: none;
            color:rgb(0, 225, 255);
            transition: .3s;
            font-size: 20px;

        &:hover{
            color: aqua;
           text-decoration: underline;
        }

            
        }

    }
}
